* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  background: rgb(68, 30, 104);
  color: aliceblue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
}

.pages {
  margin-right: 15px;
  display: flex;
  column-gap: 10px;
}

.page {
  text-decoration: none;
  color: antiquewhite;
  font-size: 12px;
}

.page:hover {
  text-decoration: underline;
}

.profileBox {
  display: flex;
  margin-right: 10px;
  flex-basis: 125px;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
